body{
    display: flex;
    justify-content: center;
    
    height: 100vh;
}
#heading{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: "Archivo Black", sans-serif;
    
}

.box{
    display: inline-flex;
    width:100px;
    height:100px;
    background-color: hsl(197, 91%, 47%);
    font-size: 4rem;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    border-style:solid;
    margin-left:1vw;
    margin-right: 1vw;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
#result{
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    margin: 10px 10px;
    font-family: "Rubik Mono One", monospace;
    font-weight: bold;
}
.text{
    text-align: center;
    font-family: "Exo", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}
.score{
    text-align: center;
    font-family: "Exo", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    display: none;
}
.box:hover{
    background-color: hsla(197, 94%, 48%, 0.82);
}
.box:active{
    background-color: hsla(197, 53%, 62%, 0.82);
}